.body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif, Arial;
  color: #737373;
  font-size: 62.5%;
}
.page {
  min-width: 1100px;
  max-width: 1414px;
  margin: 0 auto;
}
.header {
  height: 156px;
  padding: 1% 3% 1% 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#menu__toggle {
  opacity: 0;
}
.menu__list {
  display: flex;
  list-style: none;
}
.menu__item {
  margin-left: 114px;
}
.menu__item:first-child {
  margin-left: 0px;
}
.menu__link {
  font-size: 1.6em;
  text-decoration: none;
  color: #252b42;
  font-weight: 600;
  line-height: 28px;
}
.menu__link:hover {
  color: #fa4a0c;
}
.download {
  background: #4b4442 url(../img/bg-app.jpg) center center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 49px 12% 160px 12%;
}
.download__header {
  color: #f6f6f6;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 1.3;
  margin-bottom: 20px;
}
.download__slogan {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: 700;
  font-size: 4.8em;
  line-height: 1.6;
  margin-bottom: 31px;
}
.download__desc {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: #f6f6f6;
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.6;
}
.download__box-btn {
  padding-top: 67px;
}
.download__btn {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 1.5;
  border: #ffffff 1px solid;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;
  padding: 16px 60px;
  margin: 0px 17px;
}

.download__btn:hover {
  background: rgba(0, 0, 0, 0.4);
  border: rgba(253, 253, 253, 0.6) 1px solid;
}
.btn--red {
  background: #fa4a0c;
  border: #fa4a0c 1px solid;
}
.btn--red:hover {
  background: #cd3500;
  border: #cd3500 1px solid;
}
.main {
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.main__subtitle {
  text-align: center;
  width: 60%;
  color: #000;
  font-weight: 600;
  font-size: 4.4em;
  line-height: 0.8;
}
.main__workapp {
  padding: 0 12% 0 12%;
  margin-top: 42px;
  margin-bottom: 104px;
}
.workapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.workapp:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.workapp__img {
  width: 50%;
  text-align: center;
}
.workapp__txt {
  padding-inline-start: 0px;
  padding-top: 34px;
  width: 50%;
}
.txt__title {
  list-style-type: none;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 1.5;
  color: #fa4a0c;
  margin-bottom: 20px;
}
.txt__subtitle {
  list-style-type: none;
  font-weight: 700;
  font-size: 4em;
  line-height: 1.425;
  color: #252b42;
  margin-bottom: 20px;
}
.txt__lead {
  list-style-type: none;
  font-weight: 500;
  font-size: 2.4em;
  line-height: 1.6;
}
.footer {
  padding: 42px 11.6% 70px 13.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  margin-block-start: 1.2em;
  color: #5c5c5c;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (max-width: 992px) {
  .page {
    max-width: 992px;
    min-width: 663px;
  }
  .header {
    min-height: 175px;
   }
  .menu__item {
    margin-left: 46px;
  }
  .download {
    padding: 51.1px 10% 102.2px 10%;
  }
  .download__header {
    font-size: 1.68em;
    margin-bottom: 14px;
  }
  .download__slogan {
    font-size: 3.36em;
    margin-bottom: 14px;
  }
  .download__desc {
    font-size: 1.68em;
    margin-bottom: 50px;
  }
  .download__btn {
    font-size: 1.68em;
    padding: 16px 60px;
    margin: 0px 17px;
  }
  .main {
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .main__subtitle {
    width: 80%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-size: 3.4em;
  }
  .main__workapp {
    margin-top: 30px;
    margin-bottom: 45px;
    padding: 0 10% 0 10%;
  }
  .workapp {
    flex-direction: column-reverse;
  }
  .workapp:nth-child(2n + 1) {
    flex-direction: column-reverse;
  }
  .workapp__img {
    width: 100%;
  }
  .workapp__txt {
    width: 100%;
    margin-bottom: 30px;
  }
  .txt__title {
    font-size: 1.68em;
    margin-bottom: 14px;
  }
  .txt__subtitle {
    font-size: 2.8em;
    margin-bottom: 14px;
  }
  .txt__lead {
    font-size: 1.68em;
  }
  .footer {
    margin-block-start: 1.2em;
    margin-bottom: 0px;
    padding: 3px 11.7% 25px 13.5%;
  }
}
@media screen and (max-width: 662px) {
  .page {
    max-width: 662px;
    min-width: 576px;
  }
  .header {
    min-height: 175px;
    flex-direction: column;
  }
  .menu {
    display: block;
    position: fixed;
    top: 20px;
    right: 32px;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: fixed;
    z-index: 1000;
    width: 20px;
    height: 2px;
    background-color: #fa4a0c;
  }
  .menu__btn > span::before {
    content: "";
    top: 34px;
  }
  .menu__btn > span::after {
    content: "";
    top: 44px;
  }
  /* контейнер меню */
  .menu__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    margin-left: 0px;
    padding: 4px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:first-child {
    margin-left: 0px;
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__list {
    visibility: visible;
    left: 0;
  }
  /*Источник: https://medium.com/@krokhin.ezh/как-создать-гамбургер-меню-используя-только-css-и-html-c6abf7c32c6d*/
  .menu__item {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .download {
    padding: 51.1px 10% 50px 10%;
  }
  .download__header {
    font-size: 1.68em;
    margin-bottom: 14px;
  }
  .download__slogan {
    font-size: 3.36em;
    margin-bottom: 14px;
  }
  .download__desc {
    font-size: 1.68em;
    margin-bottom: 0px;
  }
  .download__box-btn {
    padding-top: 32px;
  }
  .download__btn {
    display: block;
    box-sizing: border-box;
    width: 236px;
    font-size: 1.68em;
    padding: 16px 0px;
    margin: 15px auto;
  }
  .main {
    padding-top: 38px;
    padding-bottom: 0px;
  }
  .main__subtitle {
    width: 90%;
    font-size: 3.5em;
  }
  .main__workapp {
    margin-top: 0px;
    margin-bottom: 75px;
    padding: 0 10% 0 10%;
  }
  .workapp {
    flex-direction: column-reverse;
  }
  .workapp:nth-child(2n + 1) {
    flex-direction: column-reverse;
  }
  .workapp__img {
    width: 100%;
  }
  .workapp__txt {
    width: 100%;
    margin-bottom: 30px;
  }
  .txt__title {
    font-size: 1.6em;
    margin-bottom: 5px;
  }
  .txt__subtitle {
    font-size: 2.6em;
    margin-bottom: 5px;
  }
  .txt__lead {
    font-size: 1.68em;
  }
  .footer {
    margin-block-start: 1.1em;
    margin-bottom: 0px;
    padding: 3px 5% 25px 6%;
  }
}
